<div class="container">   
  <div class="col-md-4 col-md-offset-4">
    <div *ngIf="isAdded" class="alert alert-success">{{confirmationString}}</div>
    <form id="formNewProduct" name="formNewProduct" #productData="ngForm" (ngSubmit)="addNewProduct(productData.value)" >
      <div class="panel panel-default">      
        <div class="panel-heading">Add Product
          <a routerLink="/" class="btn btn-default pull-right">&lt;&lt; Back</a>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="name">
              Name
            </label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Name" ngModel>
          </div>
          <div class="form-group">
              <label for="color">
                Color
              </label>
              <input type="text" class="form-control" name="color" id="color" placeholder="Color" ngModel>
            </div>
        </div>
        <div class="panel-footer">
          <input type="submit" value="Add Product" class="btn btn-success" />
        </div>      
      </div>
    </form>
  </div>
</div>